@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column ;
    gap: 3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;

}

.header-nav-list-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style: none;
   
    
}

.header-nav-link a{
  text-decoration: none ;
  border: 1px solid #2D4FD6;
  color: #2D4FD6;
  border-radius: 20px;
  padding: 8px;
 font-family: 'Open Sans', sans-serif;
 font-weight: bold;
 font-size: 12px;
 letter-spacing: 1px;
  
}

.header .button , .text-form button{
    background-color: #2D4FD6;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}
main {


    text-align: center;
    flex: 2;

}
.text-center{

    width: 50%;
    margin: auto;
    text-align: center;
}

.text-center h1{
    font-size: 40px;
    color: #17181C;
    padding: 1rem 6rem;
    font-family: 'Open Sans', sans-serif;
    font-weight:  700;
    line-height: 0rem 3rem;
}

.text-center h1 span{
    color: #2D4FD6;
}

.text-center p{
    font-family: 'Open Sans', sans-serif;
    color: #17181C;
    font-size: 15px;
    font-weight: bold;
    padding: 0rem 2rem;
    letter-spacing: 1px;
    line-height: 1.3rem;
    margin-bottom: 1rem;
}

.text-form{
    display: flex;
    justify-content: center;
    gap: 5rem;
    border: 1px solid #ebe4f0;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    text-align: center;
    padding: 0.3rem;

}

.text-form label{
    display: none;
}



.text-form input{
    border: none;

}

.text-form input::placeholder{
    color: #dbd8dd;
    font-size: 15px;
}

.cards{
    flex: 2;
}

