@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


body {
    height: 100vh;
    width: 100vw;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

.header-nav-list-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
   
    
}

.header-nav-link a{
  text-decoration: none ;
  list-style: none;
  border: 1px solid #2D4FD6;
  color: #2D4FD6;
  border-radius: 20px;
  padding: 8px;
 font-family: 'Open Sans', sans-serif;
 font-weight: bold;
 font-size: 12px;
 letter-spacing: 1px;
  
}

.header .button{
    background-color: #2D4FD6;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: 10px;
    font-size: 12px;
    letter-spacing: 1px;
}
main {

    height: 40%;
    text-align: center;

}
.text-contaner{
    
}
.texto{
    display: flex;
    justify-content: center;
}
.formulario{
    display: flex;
    justify-content: center;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10%;
    
}
.cabecalho_nav_link{
    display: flex;
    justify-content: space-between;
}


