body {

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
main {
    width: 100%;
    height: 45%;

}
.texto{
    display: flex;
    justify-content: center;
}
.formulario{
    display: flex;
    justify-content: center;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 10%;
    
}
.cabecalho_nav_link{
    display: flex;
    justify-content: space-between;
}
.divisao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
    width: 100%;
    height: 45%;

}

