@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.cards {

    display: flex;
    justify-content: center;
    gap: 3rem;
    font-family: 'Open Sans', sans-serif;


}

.card-left, .card-right{
    padding: 2rem 0;

}
.card-left-square, .card-right-square {
    border: 2px solid #BAC7EE;
    border-radius: 15px;
    background-color: #F8F9FE;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;

}

.logo-brand-card-left-square, .logo-brand-card-right-square {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.logo-brand-card-left-square .logo-brand, .logo-brand-card-right-square .logo-brand {
    border: 1px solid #7889C9;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0.2rem 0.4rem;

}

.logo-brand-card-right-square .logo-brand {
    border: 1px solid #7889C9;
    border-radius: 50%;
    background-color: #FFFFFF;
    padding: 0.8rem 1rem;

}

.logo-brand-card-right-square .logo-brand img{
    width: 40px;

}

.logo-brand-card-left-square .brand, .logo-brand-card-right-square .brand  {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    color: #1A1B20;
    font-weight: bold;

}



.value-total-card-left-square span, .value-total-card-right-square span{
    font-size: 2rem;
    font-weight: bold;
}


.value-compound-card-left-square, .value-compound-card-right-square  {
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}


.value-rbs{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.value-rbs-total{
    font-size: 1rem;
    font-weight: bold;
}

.value-rbs-mult, .value-rbs-apy{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #7889C9;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 0 10px 0 0 ;
    font-size: 14px;
}

.value-rbs-mult  img{
    border: 1px solid #BAC7EE;
    border-radius: 50%;
    padding: 2px;
    width: 25px;

}

.value-rbs-apy  img{
    border: 1px solid #BAC7EE;
    border-radius: 50%;
    
    width: 25px;

}

.value-rbs-mult  span,.value-rbs-apy span {
    font-size: 12px;
}


.text-card-left, .text-card-right{
    margin-top: 1rem;
    font-size: 20px;
    font-weight: bold;
    padding-right: 1rem;
    max-width:18rem ;
}
.card-center {
    width: 33.33%;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
 
}

.card-center-smartphone {
    border: 10px solid black;
    border-radius: 60px 60px 0 0;
    border-bottom: none;
    min-width: 60%;
    height: 100%;
    background: linear-gradient(to right, #3753C0, #5976E5);
    padding: 0.5rem 0 0 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;



}

.card-watch-5g-wifi-battery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;


}

.icons-5g-wifi-battery ul {
    display: flex;
    gap: 0.5rem;
    margin-right: 1rem;


}

.icons-5g-wifi-battery ul li {
    list-style-type: none;
    color: #ffffff;
}

.watch {
    color: #ffffff;
    margin-left: 2rem;
}

.camera {
    width: 6rem;
    height: 2rem;
    border-radius: 15px;
    background-color: #040305;
}

.card-next-sweep {
    text-align: center;
    margin-top: 0.5rem;

}

.card-next-sweep h4 {
    background-color: #5A74D6;
    color: #ffffff;
    display: inline;
    padding: 0.2rem 0.3rem;
    border-radius: 10px;
    font-weight: 300;
    font-size: 10px;
}

.card-prices {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

.value-total-fund {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;


}

.value-total-fund img {
    width: 25px;
    border: 2px;
    margin-right: 1rem;

}

.value-compound-fund {
    font-size: 10px;
    margin-bottom: 0.5rem;


}

.value-compound-fund span {
    margin-right: 1rem;
}

.card-links-features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-direction: row;
    padding: 1rem 2rem;

}

.card-links-features-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-links-features-option img {
    background-color: #677DD7;
    z-index: 10;
    border-radius: 50%;
    padding: 0.5rem;
}

.card-links-features-option span {
    font-size: 8px;

}

.card-resume-yesterday {
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px 5px;
    color: #D9D7D9;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;

}

.resume-yesterday {
    color: #969496;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
}

.resume-yesterday i {
    color: #969496;
}

.logo-resume-yesterday-valour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0rem 0.5rem;
}

.logo-joint span {
    color: #969496;
}

.logo-joint span {
    color: #3E1054;
    font-weight: bold;
    margin-right: 0.5rem;
}

.logo-resume-yesterday-valour .valour {

    color: #3E1054;
    font-weight: bold;
}

